@model SharkGym.DB.Modelo.Usuario

@{
    ViewBag.Title = "Details";
}
<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <div class="row" align="center">
                        <div align="center">
                            <div class="section-heading" align="center">
                                <h2>Detalles del <em>Usuario</em></h2>
                                <p>Verifica los datos del Usuario.</p>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>

                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Apellido)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Direccion)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefono)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Usuario1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Usuario1)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Correo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Correo)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Contraseña)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Contraseña)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.TipoUsuario.Descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TipoUsuario.Descripcion)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<br>
<br>
<p align="center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_IdUsuario }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Ir a la Lista", "Index", new { id = Model.PK_IdUsuario }, new { @class = "btn btn-danger" })
</p>
<!-- ***** Contact Us Area Ends ***** -->
<section class="section" id="contact-us">
</section>