@model SharkGym.DB.Modelo.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mensualidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensualidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_IdFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
