@model SharkGym.DB.Modelo.Factura

@{
    ViewBag.Title = "Details";
}


<<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <h1 align="center">Detalles De La <a style="color : #34aa98">Factura</a> </h1>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mensualidad)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mensualidad)
                            </dd>

                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Iva)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Iva)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Total)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Total)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Usuario.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Usuario.Nombre)
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_IdFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
