@model SharkGym.DB.Modelo.Factura

@{
    ViewBag.Title = "Details";
}


<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <div class="row" align="center">
                        <div align="center">
                            <div class="section-heading" align="center">
                                <h2>Dettalles de <em>Factura</em></h2>
                                <p>Verifica los datos de la factura.</p>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mensualidad)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Mensualidad)
                            </dd>

                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Iva)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Iva)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Total)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Total)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Usuario.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Usuario.Nombre)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>
<br><br>
    <p align="center">
        @Html.ActionLink("Edit", "Edit", new { @id = Model.PK_IdFactura }, new { @class = "btn btn-danger" })  
        @Html.ActionLink("Back to List", "Index", new { @id = Model.PK_IdFactura }, new { @class = "btn btn-danger" })
    </p>
<!-- ***** Contact Us Area Ends ***** -->
<section class="section" id="contact-us">

</section>

    
