@model IEnumerable<SharkGym.DB.Modelo.Factura>

@{
    ViewBag.Title = "Index";
}

<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <div class="row" align="center">
                        <div align="center">
                            <div class="section-heading" align="center">
                                <h2>Tablas de <em>Facturas</em></h2>
                                <p>Registros de las facturas que se han creado.</p>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered table-condensed" align="center">
                        <tr align="center">
                            <th>
                                @Html.DisplayNameFor(model => model.Mensualidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Iva)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario.Nombre)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mensualidad)
                                </td>
                                <td >
                                    @Html.DisplayFor(modelItem => item.Iva)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                                </td>
                                <td align="center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.PK_IdFactura } , new { @class = "btn btn-success" }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.PK_IdFactura }, new { @class = "btn btn-info" }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PK_IdFactura }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>

            </div>

        </div>
    </div>
</section>
<br><br>
<p>
    <a href="@Url.Action("Create", "Facturas")" class="btn btn-group-justified btn-info">Crear Factura</a>
</p>

<!-- ***** Contact Us Area Ends ***** -->
<section class="section" id="contact-us">
</section>