@model SharkGym.DB.Modelo.Rutina

@{
    ViewBag.Title = "Details";
}

<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <div class="row" align="center">
                        <div align="center">
                            <div class="section-heading" align="center">
                                <h2>Dettalles de <em>Factura</em></h2>
                                <p>Verifica los datos de la factura.</p>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Ejercicio1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ejercicio1)
                            </dd>

                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Ejercicio2)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ejercicio2)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Ejercicio3)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ejercicio3)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Ejercicio4)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ejercicio4)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Usuario.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Usuario.Nombre)
                            </dd>
                        </dl>
                    </div>
                    <hr />
                    <div align="center">
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Usuario1.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Usuario1.Nombre)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<br>
<br>
<p align="center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK_IdRutina }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back to List", "Index", new { id = Model.PK_IdRutina }, new { @class = "btn btn-danger" })
</p>
<!-- ***** Contact Us Area Ends ***** -->
<section class="section" id="contact-us">
</section>