@model IEnumerable<SharkGym.DB.Modelo.Rutina>
@{
    ViewBag.Title = "RutinasUser";
}


<section class="section" id="contact-us">
    <div class="container-fluid">

        <div class="row">
            <div class=" col-xs-12">
                <div>
                    <div class="row" align="center">
                        <div align="center">
                            <div class="section-heading" align="center">
                                <h2>Rutinas <em>Personales</em></h2>
                                <p>Registros de las rutinas que se han creado para ti.</p>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Ejercicio1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ejercicio2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ejercicio3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ejercicio4)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario1.Nombre)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ejercicio1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ejercicio2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ejercicio3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ejercicio4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario1.Nombre)
                                </td>
                            </tr>
                        }

                    </table>
                </div>

            </div>

        </div>
    </div>
</section>
<br>
<br>

<!-- ***** Contact Us Area Ends ***** -->
<section class="section" id="contact-us">
</section>
