<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Shark Gym</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    @if (Session["Admin"] != null)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="@Url.Action("Index", "Home")" class="logo">Shark<em>GYM</em></a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="@Url.Action("Profile", "Usuario")" class="active">Perfil</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Usuario")" class="active">Clientes</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Rutinas")">Rutinas</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Facturas")">Facturas</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Charts", "Home")">Graficas</a></li>
                                <li class="main-button"><a href="@Url.Action("Logout", "Usuario")">Sign Out</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else if (Session["Username"] != null)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="@Url.Action("Index", "Home")" class="logo">Training<em> Studio</em></a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="@Url.Action("Profile", "Usuario")" class="active">Perfil</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("RutinasUser", "Rutinas")">Rutinas</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("FacturasUser", "Facturas")">Facturas</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Charts", "Home")">Graficas</a></li>
                                <li class="main-button"><a href="@Url.Action("Logout", "Usuario")">Sign Out</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else if (Session["Entrenador"] != null)
    {
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="@Url.Action("Index", "Home")" class="logo">Training<em> Studio</em></a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="@Url.Action("Profile", "Usuario")" class="active">Perfil</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Rutinas")">Rutinas</a></li>
                                <li class="main-button"><a href="@Url.Action("Logout", "Usuario")">Sign Out</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    }
    else
    {

    }
    <!-- ***** Header Area End ***** -->
    <!-- ***** Body Pages Start***** -->
    @RenderBody()
    <!-- ***** Body Pages End ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-item">
                    <h4>Credit Pand</h4>
                    <p>Siguenos en nuestras redes sociales.</p>
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-item">
                    <h4>Enlaces a GitHub</h4>
                    <ul class="menu-list">
                        <li><a href="https://github.com/johans08">GitHub Priscila Barrantes</a></li>
                        <li><a href="https://github.com/johans08/Sharkgym">GitHub Repositorio del Proyecto</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-item last-item">
                    <h4>Contactanos</h4>
                    <div class="contact-form">
                        <form id="contact footer-contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Nombre Completo" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Mensaje" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button style="color: white; background-color: #ed563b;" type="submit" id="form-submit" class="filled-button">Enviar</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Copyright &copy; 2020 Financial Business Co., Ltd.

                        - Design: <a rel="nofollow noopener" href="https://github.com/johans08" target="_blank">SharkGym</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
